// Quasar SCSS Variables
// See https://quasar.dev/style/sass-scss-variables

$primary   : #0A1F6C;
$secondary : #00D4AA;
$accent    : #FF4F1E;

$dark      : #1A1A1A;

$positive  : #00B365;
$negative  : #FF3D71;
$info      : #1890FF;
$warning   : #FFB300;
